{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}Dashboard{% endblock %}

{% block content %}

<div class="flex flex-col h-full gap-y-4">
    <div class="flex flex-1 gap-x-4">
        <div class="flex-1">
            <nord-card>
                <div class="flex justify-between mb-4">
                    <span>Lista de tareas</span>
                    <nord-button variant="primary" slot="end" id="btnTask">
                        <nord-icon slot="start" name="interface-add-small"></nord-icon>
                        Agregar Tarea
                    </nord-button> 
                </div>
                <div>
                    <nord-banner id="bannerTask" variant="warning">
                        No hay tareas agregadas
                    </nord-banner>
                    <div id="taskBannersContainer"></div>
                </div>
            </nord-card>
        </div>
        <div class="flex-1 ">
            <nord-card>
                <div class="flex justify-between mb-4">
                    <span>Lista de Hosts</span>
                    <nord-button id="btnHost" variant="primary" slot="end">
                        <nord-icon slot="start" name="interface-add-small"></nord-icon>
                        Agregar Host
                    </nord-button> 
                </div>
                <div>
                    <nord-banner id="bannerHost" variant="warning">
                        No hay host's agregados    
                    </nord-banner>
                    <div id="hostBannersContainer"></div>
                </div>
            </nord-card>
        </div>
    </div>
    <div class="flex-1 bg-blue-600">
        <nord-card>
            <div class="flex justify-between mb-4">
                <span>Salida de Ansible</span>
                <nord-button id="btnPlay" variant="primary" slot="end">
                    <nord-icon slot="start" name="arrow-expand-right-small"></nord-icon>
                    Ejecutar tareas
                </nord-button> 
            </div>
            <nord-banner variant="success" id="logMessage">
                Dashboard details go here.
            </nord-banner>
        </nord-card>
    </div>
</div>

{% include "components/modalTask.html" %}
{% include "components/modalHost.html" %}

<script src="/static/utils.js"></script>
<script>
    const btnPlay = document.getElementById("btnPlay");

    btnPlay.addEventListener("click", e => {
        const nodes = document.getElementById("nodes");
        const selectedOption = nodes.options[nodes.selectedIndex];
        const node = selectedOption.value;
        const logMessage = document.getElementById("logMessage");
        console.log("nodo seleccionado: " + node);

        logMessage.innerHTML = "";
        
        postData('/ex_playbook', { name: node, command: "hostname" })
            .then(response => {
                console.log(response);                
                logMessage.innerHTML = response.replace(/\n/g, "<br>"); // Reemplaza saltos de línea con etiquetas <br> para el formato HTML
                logMessage.setAttribute("variant", "success"); // Cambia el estilo del banner según la respuesta
            })
            .catch(error => {
                console.error('Error al enviar datos:', error);
        });

    });


</script>


{% endblock %}
