{% extends "base.html" %}

{% block title %}Ajustes{% endblock %}

{% block header %}Ajustes{% endblock %}

{% block content %}

<nord-card>

    <div class="flex items-center">
        <nord-icon name="interface-tag" class="text-gray-400 h-6 w-6 mt-6"></nord-icon>
        <nord-input id="nameInput" class="ml-3 flex-grow" placeholder="Nombre | ex￫ nodo1" value=""></nord-input>
    </div>

    <div class="flex items-center">
        <nord-icon name="interface-globe" class="text-gray-400 h-6 w-6 mt-6"></nord-icon>
        <nord-input id="ipInput" class="ml-3 flex-grow" placeholder="Direccion IP || ex￫ 10.10.10.10" value=""></nord-input>
    </div>

    <div class="flex items-center">
        <nord-icon name="user-single" class="text-gray-400 h-6 w-6 mt-6"></nord-icon>
        <nord-input id="usernameInput" class="ml-3 flex-grow" placeholder="Usuario || ex￫ root" value=""></nord-input>
    </div>

    <div class="flex items-center">
        <nord-icon name="interface-shield" class="text-gray-400 h-6 w-6 mt-6"></nord-icon>
        <nord-input id="passwordInput" type="password" class="ml-3 flex-grow" placeholder="Contraseña || ex￫ xUf!$e" value=""></nord-input>
    </div>

    <div class="flex items-center mt-5">
        <nord-button id="btnSaveHost" variant="primary">
            <nord-icon name="interface-checked"></nord-icon> Guardar
        </nord-button>
    </div>


</nord-card>

<script>
    
    function getHostValues() {
        return {
            ip: document.getElementById('ipInput').value,
            name: document.getElementById('nameInput').value,
            username: document.getElementById('usernameInput').value,
            password: document.getElementById('passwordInput').value,
            command: 'uname -a'  // Ejemplo de comando a ejecutar en el servidor remoto
        };
    }

    function postData(url, data) {
        return fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => response.json());
    }

    document.getElementById('btnSaveHost').addEventListener('click', function() {
        const data = getHostValues();

        postData('/save_host', data)
        .then(response => {
            if (response.success) {
                alert('Datos guardados correctamente!');
            } else {
                alert('Error al guardar los datos: ' + response.message);
            }
        })
        .catch(error => {
            console.error('Error al realizar la solicitud:', error);
            alert('Error al guardar los datos');
        });
    });

   
</script>

{% endblock %}
